<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>DesignationList</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


</head>
<body class="body " style="background-color: lavender;">

<header>
    <div style="height: 100px;background-color:lightseagreen;background-size: cover;padding-top: 25px;">
        <div class="header  d-flex justify-content-center" style="font-weight: bold;">
            <H2 class="text-light ">Employee Management System</H2>
        </div>
    </div>
</header>


<div class=" justify-content-end">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: black;">
        <a class="navbar-brand" th:href="@{/index}">Home</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav  justify-content-end">
                <li class="nav-item active text-light">
                    <a class="nav-link text-light" th:href="@{/index}">Home </a>
                </li>
                <Li>
                <a class="nav-link text-light" th:href="@{/designation/designation}">DesignationList</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/designation/addDesignation}"> Add Designation</a>
                </li>



            </ul>
        </div>
    </nav>
</div>
<br/>
<br/>

<div class="container-fluid d-flex justify-content-center ">
    <div class="col-sm-10 tex-center" >
        <div class="panel-body" text-align = "center" >
            <table class="table bg-light table-hover">
                <thead class="thead bg-warning text-dark">
                <tr>
                    <th> ID</th>
                    <th> Designation</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="designation: ${designationList}">
                    <td th:text="${designation.id}">ID</td>
                    <td th:text="${designation.designation}">Designation</td>

                    <td>
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><a th:href="@{'/designation/edit/' + ${designation.id}}">Edit</a></button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><a th:href="@{'/designation/delete/' + ${designation.id}}">Delete</a></button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>